body {
	
    background-image: url("fste.png");
    background-repeat: no-repeat;
    background-size: cover;
       
}

#container {
	margin: 100px auto;
	width: 60%;
	background-color: #ec010180;
    
	padding: 20px;
	text-align: center;
}

input[type="text"] {
	padding: 5px;
	margin: 5px;
}

button {
	padding: 5px;
	margin: 5px;
	background-color: #0b6907;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #f3f3f3;
}

#result {
	font-size: 30px;
	font-weight: bold;
	color: #00c206;
}
/*keep going :)*/